<div id="homepage_greeting">
  <% if email != nil %>
    <p class="greeting">Hello <%= email %></p>
  <% else %>
    <p class="greeting">Welcome!</p>
  <% end %>
</div>
<% if user_id != nil %>
  <a class="homepage_links" href="/logout">Logout</a>
<% else %>
  <a class="homepage_links" href="/login">Login</a>
  <a class="homepage_links" href="/register">Register</a>
<% end %>