<div class="form_container">
  <form class="form" action="/login" method="post">
    <table class="form_table">
      <tr>
        <td></td>
        <td class="form_header">Login</td>
      </tr>
      <% if error_exists %>
        <tr class="error_message_row">
          <td colspan="2" class="error_message_data"><%= error_message %></td>
        </tr>
      <% end %>
      <tr>
        <td class="text_label"><label for="email">Email</label></td>
        <td><input type="email" name="email"></td>
      </tr>
      <tr>
        <td class="text_label"><label for="password">Password</label></td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td></td>
        <td class="button_data">
          <button type="submit">Login</button>
        </td>
      </tr>
    </table>
  </form>
</div>